extends ../layout.jade

block title
  title New User

block content
  div
    form(action='/users', method='post')
      div
        label username:
        input(type='text', name='username')
      div
        input(type='submit', value='save')
